* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

H1 {
    color: #eeeeea;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    padding: 10px;
    text-decoration: none;
    color: #eeeeea;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('crush21.webp');
}
.card[for="c2"] {
    background-image: url('crush22.webp');
}
.card[for="c3"] {
    background-image: url('crush23.webp');
}
.card[for="c4"] {
    background-image: url('crush24.webp');
}
.card[for="c5"] {
    background-image: url('crush25.webp');
}
.card[for="c6"] {
    background-image: url('crush26.webp');
}
.card[for="c7"] {
    background-image: url('crush27.webp');
}
.card[for="c8"] {
    background-image: url('crush28.webp');
}
.card[for="c9"] {
    background-image: url('crush29.webp');
}
.card[for="c10"] {
    background-image: url('crush30.webp');
}
.card[for="c11"] {
    background-image: url('crush31.webp');
}
.card[for="c12"] {
    background-image: url('crush32.webp');
}